* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', sans-serif;
}

header {
    background-image: url(../img/wall.png);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 90px;
    }
}