* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', sans-serif;
}

header {
    background-image: url(../img/wall.png);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 90px;
    }
}

main {
    background-image: url(../img/cork.png);
    padding-bottom: 5rem;
}

.row {
    margin-top: 0;
}

.card {
    padding: 1rem;
    border-radius: 0;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all .4s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  rotate: 10deg;
  z-index: 1;
}

.card .pin {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -8px;
    left: 50%
}

.card-body .card-date {
    color: dimgrey;
    font-family: 'Sometype Mono', 'monospace';
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    .container {
        width: 45%;
        margin-top: 8px;

        img {
            display: block;
            height: auto;
            width: 100%;
            margin-top: 8px;
        }

        button {
            margin-left: 50%;
            padding: 0 10px 0 10px;
            cursor: pointer;
        }
    }
}