* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', sans-serif;
}

header {
    background-image: url(../img/wall.png);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 90px;
    }
}

.container {
    padding-top: 1rem;
}

main {
    background-image: url(../img/cork.png);
    padding-bottom: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 0;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.card .pin {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -8px;
    left: 50%
}

.card-body .card-date {
    color: dimgrey;
    font-family: 'Sometype Mono', 'monospace';
}

#overlay {
    position: fixed;
    /*display: none; Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;

    .container {
        position: relative;
        top: 90px;
        left: 0;
        margin: auto;
        padding: 0;
        width: 50%;

        img {
            display: block;
            height: auto;
            width: 100%;
            margin-top: 70px;
        }

        button {
            margin-left: 50%;
            padding: 0 10px 0 10px;
        }
    }
}